@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Geist:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --color-brand: #0cf1f4;
    --color-brand-dark: #007079;
    --color-brand-light: #00e5e9;

    --color-black: #000;
    --color-dark-gray: #212529;
    --color-white: #fff;
    --color-light-gray: #e9e9e9;

    --text-hero: 36px;
    --text-heading: 32px;
    --text-sectionheading: 24px;
    --text-subheading: 20px;
    --text-body: 14px;

    --font-merriweather: 'Merriweather', serif;


    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-5: 32px;
    --spacing-6: 40px;
    --spacing-7: 48px;
    --spacing-8: 56px;
    --spacing-9: 64px;
}


@layer base {}
@layer utilities{
    .section {
        @apply py-2 px-4 md:py-4 md:px-8  min-h-[60vh];
    }
    .section_heading {
        @apply font-bold text-sectionheading text-center my-2 text-black;
    }
    .btn{
        @apply px-4 py-2 bg-brand-dark hover:cursor-pointer text-white hover:bg-brand hover:text-brand-dark rounded-sm;
    }
    .input{
        @apply p-3 w-[400px] shadow-sm shadow-brand-dark rounded-full text-body
    }
    .label{
        @apply text-body font-semibold;
    }
    .pElement{
        @apply text-body font-medium;
    }
    .title {
        @apply text-subheading font-bold text-black;
    }

}