@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Geist:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Geist:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Geist:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
}

@theme {

    --color-brand: #3498db;
    --color-brand-dark: #21618c;
    --color-brand-light: #85c1e9;

    --color-black: #000000;
    --color-dark-gray: #2c3e50;
    --color-white: #ffffff;
    --color-light-gray: #e9e9e9;

        /*dark mode*/



    --text-hero: 36px;
    --text-heading: 32px;
    --text-sectionheading: 24px;
    --text-subheading: 20px;
    --text-body: 14px;

    --font-merriweather: 'Merriweather', serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-lora: 'Lora', serif;


    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-5: 32px;
    --spacing-6: 40px;
    --spacing-7: 48px;
    --spacing-8: 56px;
    --spacing-9: 64px;
}


@layer base {}
@layer utilities{
    .section {
        @apply py-2 px-4 md:py-4 md:px-8  min-h-[60vh] transition-colors duration-500;
    }
    .section_heading {
        @apply font-bold text-sectionheading text-center  mb-4 text-brand-dark dark:text-brand;
    }
    .btn{
        @apply p-2.5 bg-brand-dark cursor-pointer text-white ;
    }
 /* .input{
        @apply p-3 w-full  border-l border-light-gray text-body outline-none;
    }
        */
    .label{
        @apply text-body font-semibold;
    }
    .pElement{
        @apply text-body dark:text-light-gray;
    }
    .title {
        @apply text-subheading font-semibold text-black dark:text-light-gray;
    }

}