@import "tailwindcss";
html {
    scroll-behavior: smooth;
}

@theme {
    --color-brand: #0cf1f4;
    --color-brand-dark: #007079;
    --color-brand-light: #00e5e9;

    --color-black: #000;
    --color-dark-gray: #212529;
    --color-white: #fff;
    --color-light-gray: #e9e9e9;

    --text-hero: 36px;
    --text-heading: 24px;
    --text-subheading: 20px;
    --text-body: 16px;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-5: 32px;
    --spacing-6: 40px;
    --spacing-7: 48px;
    --spacing-8: 56px;
    --spacing-9: 64px;

}


@layer base {}
@layer utilities{
    .section {
        @apply bg-gray-500 w-[80%] h-screen text-center py-[20px] ;
    }
    .sectionHeading {
        @apply font-bold text-[24px] mx-auto text-blue-800 leading-tight;
    }

}